body {
  background-color: #f5f5f5;
}

#text-info a {
  text-decoration: none;
  color: gray;
}

#text-info a:hover {
  color: #0d6efd;
}

.input-search {
  width: 400px;
}

#carousel {
  padding-top: 156px;
  padding-bottom: 50px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
}

.card-customer {
  width: 17rem;
}

#info-customer {
  margin-bottom: 50px;
}

#col-product:hover {
  border: 2px solid #0d6efd;
}

#nav-bottom {
  display: none;
}

.nav-icon {
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.nav-icon a {
  float: left;
  width: 20%;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 27px;
  color: #0d6efd;
}

.nav-icon a:hover {
  color: black;
}

.head-brand {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Kanit", sans-serif;
}

.header-form {
  padding-top: 35px;
  padding-bottom: 35px;
}

#container-form {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 380px;
  border: 3px solid gainsboro;
  background-color: #ffffff;
  margin-bottom: 50px;
}

#detail-product {
  padding-top: 156px;
}

/* Responsive */
@media screen and (max-width: 991px) {
  .input-search {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .input-search {
    width: 150px;
  }
  .card-customer {
    width: 100%;
  }
  #container-form {
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  #text-info {
    display: none;
  }
  #carousel {
    padding-top: 91px;
    padding-bottom: 25px;
  }
  #banner-recomend {
    margin-top: -25px;
  }
  #detail-product {
    padding-top: 91px;
  }
}

@media screen and (max-width: 484px) {
  #button-navbar {
    display: none;
  }
  .input-search {
    width: 200px;
  }
  .carousel-item img {
    height: 300px;
  }
  #nav-bottom {
    display: contents;
  }
}
